@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

*, *:before, *:after {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* background-image: url('https://media0.giphy.com/media/dvreHY4p06lzVSDrvj/giphy.gif'); */
    background-size: cover;
    height: 100vh;
    padding:0;
    margin:0;
}

#welcomeMsg {
    text-align: center;
    margin-top: 200px;
    padding: 15px;
}

canvas {
    z-index: 2;
}

#nowPlaying {
    color: white;
    /* color: black; */
    position: absolute;
    bottom: 20px;
    left: 0;
    z-index: 10;
    display: inline-block;
}

#nowPlayingImage {
    margin: 0;
    padding: 0;
    border: 0;
    /* display: inline-block; */
    display: none;
}

#nowPlayingText {
    margin: 0;
    padding-left: 10px;
    display: inline-block;
}

/* #nowPlayingText > h1 {
    font-size: 50pt;
}

#nowPlayingText > h3 {
    font-size: 2em;
} */
